{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "env": {
    "node": true
  },
  "rules": {
    "lines-between-class-members": 0,
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0
  }
}
